body {
	font-family: "メイリオ", Meiryo, arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	color: #313131;
	font-size: 14px;
	line-height: 1.7;
}
@media (min-width: 768px){
body {
	font-size: 16px;
}
}
a {
    color: #0010a3;
}
header {
	background: #ffffff;
}
#main {
	margin-bottom: 3em;
}
@media (min-width: 992px){
.container {
    width: 990px;
}
}
.about-site h2 {
	margin-top: 12px;
}
@media (min-width: 992px){
.about-site h2 {
	margin-top: 24px;
}
}
.about-site-txt ul {
	list-style: none;
	margin-bottom: 6px;
	padding-left: 0;
	-webkit-padding-start: 0;
}
.about-site-txt ul li {
	padding: 2px 0 2px 24px;
}
.about-site-txt ul.check-red li {
	background: url(images/check-red_s.png) no-repeat;
}
.about-site-txt ul.check-green li {
	background: url(images/check-green_s.png) no-repeat;
}

@media (min-width: 768px){
.about-site-txt {
	padding: 1em;
}
}
@media (min-width: 992px){
.about-site-txt ul li {
	padding: 0 0 0 36px;
}
.about-site-txt ul.check-red li {
	background: url(images/check-red.png) no-repeat;
}
.about-site-txt ul.check-green li {
	background: url(images/check-green.png) no-repeat;
}	
.about-site-txt p, .about-site-txt li {
	font-size: 20px;
	line-height: 2.2;
}
.about-site-txt p {
	margin-top: 30px;
	margin-bottom: 36px;
}
}

.ranking-area .row,
.shohin-area .row {
	max-width: 960px;
	margin: 0;
}
.sort-btn-area .col-xs-4 {
	padding-right: 5px;
    padding-left: 5px;
}
.sort-btn-area input[type=radio] {
  display: none;
}
.sort-btn label {
	display: block;
	margin: 0 auto;
	color: #0010a3;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	border: 3px solid #0010a3;
	border-radius: 3px;
	padding-top: 12px;
	padding-bottom: 10px;
	margin-bottom: 6px;
}
.sort-btn label:hover {
	color: #ffffff;
	background: rgba(0,16,163,0.6);
}
.sort-btn-area input[type="radio"]:checked + label {
	color: #ffffff;
	background: #0010a3;
}
.sort-btn label .s-text {
	font-size: 10px;
}
.sort-btn p {
	font-size: 8px;
	text-align: center;
	line-height: 1.4;
}
@media (min-width: 768px){
.sort-btn-area .col-md-2 {
    width: 20%;
}
.sort-btn p {
	font-size: 10px;
}
}
@media (min-width: 992px){
.sort-btn label {
	font-size: 20px;
}
.sort-btn label .s-text {
	font-size: 12px;
}
}

.ranking-table .table-bordered {
    border: 1px solid #0010a3;
	border-radius: 3px;
}
@media (min-width: 768px){
.ranking-table .table-bordered {
    border: 3px solid #0010a3;
}
}
.ranking-table thead,.ranking-table thead tr,.ranking-table thead tr th {
	display: none;
}
.ranking-table tbody tr th {
	color: #ffffff;
	text-align: center;
	background: #0010a3;
	border: 1px solid #001bbc;
}
@media (min-width: 768px){
.ranking-table tbody tr th {
	border: 3px solid #001bbc;
	padding: 18px 0;
}
}
.ranking-table tbody tr th,
.ranking-table tbody tr td {
	border: 1px solid #001bbc;
	padding: 6px;
}

@media (min-width: 768px){
.ranking-table tbody tr th,
.ranking-table tbody tr td {
	border: 3px solid #001bbc;
}
}
.ranking-table #rankSort thead tr th.headerSortDown tbody tr th {
	color: #0010a3;
    background: #ffffff;
}
.ranking-table tr:nth-child(2) td:nth-of-type(1) {
	background: url(images/rank-1.png) no-repeat center center;
	background-size:contain;
}
.ranking-table tr:nth-child(3) td:nth-of-type(1) {
	background: url(images/rank-2.png) no-repeat center center;
	background-size:contain;
}
.ranking-table tr:nth-child(4) td:nth-of-type(1) {
	background: url(images/rank-3.png) no-repeat center center;
	background-size:contain;
}
.ranking-table tr:nth-child(5) td:nth-of-type(1) {
	background: url(images/rank-4.png) no-repeat center center;
	background-size:contain;
}
.ranking-table tr:nth-child(6) td:nth-of-type(1) {
	background: url(images/rank-5.png) no-repeat center center;
	background-size:contain;
}
.ranking-table tr:nth-child(7) td:nth-of-type(1) {
	background: url(images/rank-6.png) no-repeat center center;
	background-size:contain;
}
.ranking-table tr:nth-child(8) td:nth-of-type(1) {
	background: url(images/rank-7.png) no-repeat center center;
	background-size:contain;
}
.ranking-table tr:nth-child(9) td:nth-of-type(1) {
	background: url(images/rank-8.png) no-repeat center center;
	background-size:contain;
}

@media (min-width: 992px){
.ranking-table tr:nth-child(2) td:nth-of-type(1),
.ranking-table tr:nth-child(3) td:nth-of-type(1),
.ranking-table tr:nth-child(4) td:nth-of-type(1),
.ranking-table tr:nth-child(5) td:nth-of-type(1),
.ranking-table tr:nth-child(6) td:nth-of-type(1),
.ranking-table tr:nth-child(7) td:nth-of-type(1),
.ranking-table tr:nth-child(8) td:nth-of-type(1),
.ranking-table tr:nth-child(9) td:nth-of-type(1) {
		background-size: auto;
}
}
.shohin-s img {
	max-width: 40px;
	max-height: 40px;
}
.ranking-table td.rank-syosai {
	min-width: 48px;
}
@media (min-width: 768px){
.ranking-table td.rank {
	width: 58px;
}
.ranking-table td.shohin-s {
	width: 210px;
}
.ranking-table td.shohin-s img {
	float: right;
	vertical-align: middle;
}
.ranking-table td.rank-star {
	font-size: 12px;
}
.ranking-table td.t-price {
	width: 85px;
	text-align: right;
}
.ranking-table td.rank-syosai {
	width: 80px;
}
.ranking-table tbody tr td {
	height: 70px;
	vertical-align: middle;
}
}
.shohin-syosai {
	border: 3px solid #0010a3;
	border-radius: 3px;
	padding: 16px 20px;
	margin-bottom: 16px;
}
@media (min-width: 992px){
.shohin-syosai {
	padding: 20px 40px;
}
}
.shohin-syosai h3 {
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	background: #0010a3;
	border-radius: 3px;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 10px 0;
}
@media (min-width: 992px){
.shohin-syosai h3 {
	font-size: 28px;
	text-align: left;
	padding: 18px 0 18px 48px;
}
}
@media (min-width: 992px){
.shohin-syosai .col-md-3 {
	padding-left: 0;
	padding-right: 0;
}
.shohin-syosai .col-md-9 {
	padding-right: 0;
	float: right;
}
}
.shohin-syosai .col-md-3 img {
	padding-bottom: 10px;
}
.shohin-syosai .col-xs-12 {
	padding-left: 8px;
	padding-right: 8px;
}
@media (min-width: 992px){
.shohin-syosai .col-xs-12 {
	padding-left: 15px;
	padding-right: 15px;
}
}
.shohin-syosai table {
	border: 3px solid #0010a3;
	border-radius: 3px;
}
.shohin-syosai .table th{
	vertical-align: middle;
	border-top:1px dotted #0010a3;
	padding-left: 20px;
}
.shohin-syosai .table td{
	text-align: center;
	vertical-align: middle;
	border-top:1px dotted #0010a3;
}
.shohin-syosai .table td .col-sm-3 {
	font-weight: bold;
	margin-bottom: 4px;
}
@media (min-width: 768px){	
.shohin-syosai .table td .col-sm-3{
	width: 22%;
	text-align: left;
	margin-bottom: 0;
}
.shohin-syosai .table td .col-sm-5{
	width: 50%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.shohin-syosai .table td .col-sm-4{
	width: 28%;
	text-align: right;
}
}
.tokucho-title {
	color: #0010a3;
	font-size: 1.2em;
	margin-bottom: 0.3em;
}
@media (min-width: 992px){
.tokucho-title {
	font-size: 1.6em;
}
.tokucho-txt {
	font-size: 20px;
}
}
.tokucho-txt ul {
	padding-left: 20px;
}
@media (min-width: 992px){
.tokucho-txt ul {
	padding-left: 40px;
}
}
.btn_af {
text-align: center
}
@media (min-width: 992px){
.btn_af .btn {
    padding: 14px 160px;
}
}
/*
.to-table {
	display: block;
	text-align: right;
	margin: 4px 0 12px;
}
*/
.single-content h2,
.page-content h2,
.archive h2 {
	color: #ffffff;
	font-size: 1.4em;
	background: #0010a3;
	border-radius: 3px;
	margin-bottom: 16px;
	padding: 12px 8px 12px 12px;
}
.single-content h3,
.page-content h3,
.archive h3 {
	font-size: 1.4em;
	border-left: 6px solid #0010a3;
	margin: 20px 0 12px;
	padding-left: 6px;
}
@media (min-width: 992px){
.single-content h2,
.page-content h2,
.archive h2 {
	font-size: 1.8em;
	margin-bottom: 28px;
	padding: 18px 0 18px 28px;
}

.single-content h3,
.page-content h3,
.archive h3 {
	font-size: 1.6em;
	margin: 40px 0 24px;
	padding-left: 12px;
}
}
.content-area {
	margin: 0 10px 30px 12px;
}
.content-area ul {
	padding-left: 20px;
}
@media (min-width: 992px){
.content-area ul {
	padding-left: 40px;
}
}
.archive-list {
	margin-bottom:5px;
	padding:2px 10px 20px 5px;
	border-bottom: 1px dashed #0010a3;
}
.archive-list:last-child{
	border:none;
	margin: 0;
}

.sidebar h3 img {
	display: block;
	margin: 0 auto;
}
.side-waku {
	border: 3px solid #0010a3;
	border-radius: 3px;
	padding: 8px 10px;	
}
.side-rank-shohin {
	margin: 0 auto;
	font-size: 14px;
}
.side-rank-shohin-title {
	width: 100%;
	display: inline-block;
	color: #ffffff;
	background: #2F3CB4;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 6px 8px;
}
.side-rank-shohin-title img {
	padding-right: 8px;
}
img.side-shohin-img {
	max-width: 80px;
	max-height: 100px;
	padding-bottom: 10px;
}
.side-rank-shohin p {
	text-align: center;
	vertical-align: middle;
}
.side-content-list ul {
	list-style: none;
	padding: 0.5em 0.7em;
	border: solid 3px #0010a3;
	border-radius: 3px;
}
.side-content-list ul li:before {
	font-family: "Font Awesome 5 Free";
	content: '\f1ae';
	color: #0010a3;
	font-weight: bold;
	padding-right: 4px;
}

.side-content-list ul li{
	position: relative;
	font-size: 14px;
	margin-bottom:5px;
	padding:2px 0 5px 5px;
	border-bottom: 1px dashed #0010a3;
}
.side-content-list ul li:last-child{
	border:none;
	margin: 0;
}
.sidebar a.btn.btn-sm {
	width: 100%;
	display: block;
}

footer .container-fluid {
	background: #0010a3;
}
.footer-area {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 0 10px;
}
.footer-area ul {
	list-style: none;
	padding-left: 8px;
}
.footer-area ul li:before {
	font-family: "Font Awesome 5 Free";
	content: '\f0da';
	color: #ffffff;
	font-weight: bold;

	padding-right: 8px;
}
.footer-area p, .footer-area a{
	color: #ffffff;
}
.footer-area p {
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
}
@media (min-width: 992px){
.footer-area a {
	font-size: 15px;
}
.footer-area p {
	font-size: 14px;
}
}
#topbutton {
    position: fixed;
	bottom: 18px;
    right: 18px;
	display: none;
	background-color: #0010a3;
    opacity: 0.6;
    border-radius: 8px;
	font-size: 0.8em;
    text-align: center;
    margin: 0px;
    padding: 6px 8px;
}
#topbutton a {
    color: #ffffff;
    text-decoration: none;
}
#topbutton a:hover {
    opacity: 0.4;
}

.text-blue {
	color: #0010a3;
}